@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Horizontal scrollbar height */
}

/* Scrollbar Track (background) */
::-webkit-scrollbar-track {
  background-color: #0f172a;
}

/* Scrollbar Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #013f3c7f;
}

/* Styles for hover state of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #007f73;
}

/* Make scrollbar more visible on mobile */
@media (max-width: 767px) {
  .overflow-container {
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
}

/* i tag styles */
i {
  cursor: pointer;
}

i:hover {
  color: #79cbb8;
  font-size: 24px;
}

/* Animation classes for fading */
.s {
  animation: s 1s infinite;
}

@keyframes s {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

.q {
  animation: q 1s infinite;
}

@keyframes q {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.e {
  animation: e 1s infinite;
}

.header p {
  margin: 0 !important;
  padding: 0 !important;
}

@keyframes e {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Input and textarea styling */
input,
textarea {
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(56, 56, 56);
}

textarea {
  height: 100px;
  padding-top: 10px;
}
